/* Fonts */

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXiWtFCc.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Lato', Arial, sans-serif;
}

/* */

/* Banner */

.format {
  background: transparent;
}

.ad {
  background-color: #fff;
  border: 1px solid #cccccc;
  box-shadow: none;
}

.description {
  color: #333;
  font-weight: normal;
  font-family: inherit;
}

.title {
  color: #000;
  font-weight: bold;
  font-family: inherit;
}

.btn {
  box-shadow: none;
  border-radius: 4px;
  border: none;
  background: #a80c0c;
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
}

/* */

/* Advertising Callout */

.advertising-callout:after {
  content: 'advertisement';
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: inherit;
  color: #808080;
  text-transform: capitalize;
}

/* */

/* Ad Choices Icon */

.ym-ad-choices {
  background: transparent;
}

/* */
