/* Fonts */

@font-face {
  font-family: 'Muli';
  src: url('https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0O6tLR8a8zI.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Muli';
  src: url('https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KExcOPIDU.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Muli', sans-serif;
}

/* */

/* Banner */

.format {
  background: transparent;
}

.ad {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.25);
}

.description {
  color: #2c3044;
  font-weight: normal;
  font-family: inherit;
}

.title {
  color: #2c3044;
  font-weight: bold;
  font-family: inherit;
}

.btn {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: #9d50c3;
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
}

/* */

/* Advertising Callout */

.advertising-callout:after {
  content: 'advertisement';
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: inherit;
  color: #707070;
  text-transform: capitalize;
}

/* */

/* Ad Choices Icon */

.ym-ad-choices {
  background: transparent;
}

/* */
