/* Fonts */

@font-face {
  font-family: 'Oswald';
  src: url('https://fonts.gstatic.com/s/oswald/v10/bH7276GfdCjMjApa_dkG6aCWcynf_cDxXwCLxiixG1c.ttf') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcdGU7DQ8I6RFMlK0vgclk7w.woff') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Titillium Web', Arial, sans-serif;
}

/* */

/* Banner */

.format {
  background: transparent;
}

.ad {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: none;
  border-radius: 10px;
  overflow: hidden;
}

.description {
  color: #333;
  font-weight: normal;
  font-family: inherit;
}

.title {
  color: #333;
  font-weight: bold;
  font-family: 'Oswald', Arial, sans-serif;
}

.btn {
  box-shadow: none;
  border-radius: 6px;
  border: none;
  background: #062f4d;
  color: #fff;
  font-weight: bold;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}

.btn-text {
  font-family: inherit;
}

/* */

/* Advertising Callout */

.advertising-callout:after {
  content: 'advertisement';
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: inherit;
  color: #818181;
  text-transform: capitalize;
}

/* */

/* Ad Choices Icon */

.ym-ad-choices {
  background: transparent;
}

/* */
