/* Fonts */

@font-face {
  font-family: 'itc-avant-garde-gothic-pro';
  src: url('https://use.typekit.net/af/848d14/00000000000000003b9b3de0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'europa';
  src: url('https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'europa', sans-serif;
}

/* */

/* Banner */

.format {
  background: transparent;
}

.ad {
  background-color: #fff;
  border: 1px solid #a1a1a1;
  box-shadow: none;
}

.description {
  color: #231f20;
  font-weight: normal;
  font-family: inherit;
}

.title {
  color: #000000;
  font-weight: bold;
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
}

.btn {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: #75cedc;
  color: #fff;
  font-weight: bold;
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  text-transform: uppercase;
}

.btn-text {
  font-family: inherit;
}

/* */

/* Advertising Callout */

.advertising-callout:after {
  content: 'advertisement';
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: inherit;
  color: #a1a1a1;
  text-transform: capitalize;
}

/* */

/* Ad Choices Icon */

.ym-ad-choices {
  background: transparent;
}

/* */
