/* Fonts */

@font-face {
  font-family: 'Muli';
  src: url('https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Montserrat', sans-serif;
}

/* */

/* Banner */

.format {
  background: transparent;
}

.ad {
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-shadow: none;
}

.description {
  color: #666;
  font-weight: normal;
  font-family: inherit;
}

.title {
  color: #2c3044;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
}

.btn {
  box-shadow: none;
  border-radius: 4px;
  border: none;
  background: #037dba;
  color: #fff;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}

.btn-text {
  font-family: inherit;
}

/* */

/* Advertising Callout */

.advertising-callout:after {
  content: 'advertisement';
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: inherit;
  color: #707070;
  text-transform: capitalize;
}

/* */

/* Ad Choices Icon */

.ym-ad-choices {
  background: transparent;
}

/* */
