/* Fonts */

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Roboto', sans-serif;
}

/* */

/* Banner */

.format {
  background: transparent;
}

.ad {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: none;
}

.description {
  color: black;
  font-weight: normal;
  font-family: inherit;
}

.title {
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: #10162b;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.btn-text {
  font-family: inherit;
}

/* */

/* Advertising Callout */

.advertising-callout:after {
  content: 'advertisement';
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: inherit;
  color: grey;
  text-transform: capitalize;
}

/* */

/* Ad Choices Icon */

.ym-ad-choices {
  background: transparent;
}

/* */
