/* Fonts */

@font-face {
  font-family: 'Oswald';
  src: url('https://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6aCWcynf_cDxXwCLxiixG1c.ttf') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Roboto', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 0;
  background: #f2f2f2;
  border: 1px solid #d2d3d4;
}

.webstory-header .title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: black;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: black;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: black;
}

/* */

/* CTA */

.cta-text {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 50%;
}

.external-link-icon_circle {
  fill: #0253a8;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
