/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Roboto', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 0;
  background: white;
  border: 1px solid #e95420;
}

.webstory-header .title {
  font-family: inherit;
  font-weight: bold;
  color: #155baf;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: #21252c;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #21252c;
}

/* */

/* CTA */

.cta-text {
  color: #155baf;
  font-family: inherit;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 50%;
}

.external-link-icon_circle {
  fill: #e95420;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
