/* Fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.gstatic.com/s/opensans/v26/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Open Sans', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 0;
  background: white;
  border: 1px solid #c9c9c9;
}

.webstory-header .title {
  font-family: inherit;
  font-weight: bold;
  color: #111;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: #222;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #777;
}

/* */

/* CTA */

.cta-text {
  color: #111;
  font-family: inherit;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 0;
}

.external-link-icon_circle {
  fill: #8ec543;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
