/* Fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUuhp.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Open Sans', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 8px;
  background: #f8f8f8;
  border: 1px solid #e1e1e1;
}

.webstory-header .title {
  font-family: inherit;
  font-weight: bold;
  color: black;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: black;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #8e8e8e;
}

/* */

/* CTA */

.cta-text {
  color: black;
  font-family: inherit;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 50%;
}

.external-link-icon_circle {
  fill: #e80844;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
