/* Fonts */

@font-face {
  font-family: 'ClanPro';
  src: url('https://static.klix.ba/fonts/ClanPro-Medium.otf') format('woff2');
  font-weight: bold;
}

*,
:after,
:before {
  font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 8px;
  background: #f1f2f5;
  border: none;
}

.webstory-header .title {
  font-family: 'ClanPro', sans-serif;
  font-weight: bold;
  color: #111827;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: #111827;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #808080;
}

/* */

/* CTA */

.cta-text {
  color: #111827;
  font-family: 'ClanPro', sans-serif;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 50%;
}

.external-link-icon_circle {
  fill: #086cb8;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
