/* Fonts */

*,
:after,
:before {
  font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 0;
  background: white;
  border: 1px solid #182882;
}

.webstory-header .title {
  font-family: inherit;
  font-weight: bold;
  color: #212529;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: #212529;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #666;
}

/* */

/* CTA */

.cta-text {
  color: #212529;
  font-family: inherit;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 0;
}

.external-link-icon_circle {
  fill: #182882;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
