/* Fonts */

@font-face {
  font-family: 'Merriweather Sans';
  src: url('https://fonts.gstatic.com/s/merriweathersans/v14/2-cO9IRs1JiJN1FRAMjTN5zd9vgsFF_5asQTb6hZ2JKZkO4ViesBzRRXnKOr.woff') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 8px;
  background: white;
  border: 1px solid #dfe1e5;
}

.webstory-header .title {
  font-family: 'Merriweather Sans', 'Roboto', sans-serif;
  font-weight: bold;
  color: #346cb0;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: black;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #888c9b;
}

/* */

/* CTA */

.cta-text {
  color: #346cb0;
  font-family: 'Merriweather Sans', 'Roboto', sans-serif;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 50%;
}

.external-link-icon_circle {
  fill: #346cb0;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
