/* Fonts */

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXiWtFCc.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Lato', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 8px;
  background: #fefde5;
  border: 1px solid #eeeeee;
}

.webstory-header .title {
  font-family: inherit;
  font-weight: bold;
  color: #222;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: #222;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #777;
}

/* */

/* CTA */

.cta-text {
  color: #222;
  font-family: inherit;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 50%;
}

.external-link-icon_circle {
  fill: #f68b1c;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
