/* Fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('https://pics.tollypics.com/themes/modus/css/open-sans/fonts/Bold/OpenSans-Bold.woff2?v=1.101') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://pics.tollypics.com/themes/modus/css/open-sans/fonts/Regular/OpenSans-Regular.woff2?v=1.101') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Open Sans', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 8px;
  background: #f2f2f2;
  border: none;
}

.webstory-header .title {
  font-family: inherit;
  font-weight: bold;
  color: black;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: black;
  line-height: 18px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #666;
}

/* */

/* CTA */

.cta-text {
  color: black;
  font-family: inherit;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 50%;
}

.external-link-icon_circle {
  fill: #ff2f63;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
