/* Fonts */

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYbw.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');
  font-weight: normal;
}

*,
:after,
:before {
  font-family: 'Roboto', sans-serif;
}

/* */

/* Banner */

.format,
.format-body {
  background: transparent;
}

.ad {
  border-radius: 3px;
  background: white;
  border: 1px solid #999;
}

.webstory-header .title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: black;
}

.description {
  font-family: inherit;
  font-weight: normal;
  color: black;
  line-height: 14px;
}

.sponsored-by {
  font-family: inherit;
  font-weight: normal;
  color: #969696;
}

/* */

/* CTA */

.cta-text {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.btn-wrapper {
  border-radius: 50%;
}

.external-link-icon_circle {
  fill: #d22429;
}

.external-link-icon_arrow {
  fill: white;
}

/* */
